<nav>
  <mat-toolbar class="mat-elevation-z6" color="primary">
    <span><a routerLink="/" mat-button>Dungeon Brain</a></span>

    <span class="example-spacer"></span>

    <div *ngIf="!isAuthenticated" class="header-right">
      <a routerLink="/login" mat-button>Login</a>
      <a routerLink="/register" mat-button>Register</a>
    </div>

    <div *ngIf="isAuthenticated" class="header-right">
      <button (click)="onLogout()" mat-button>Logout</button>
      <a routerLink="/profile" class="profile"
        ><img src="assets/profile-pic.jpg" alt="profile pic"
      /></a>
    </div>
  </mat-toolbar>
</nav>
