mat-card {
  width: 228px;
  height: 404px;
  margin: 0.75rem;
  flex-shrink: 0;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 0.75rem;
}

:host {
  display: block;
  margin-top: 1.5rem;
}

.info-text {
  text-align: center;
}

.character-image {
  width: 100%;
  margin-bottom: 1rem;
}

.character-image img {
  width: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
}

.character-content {
  white-space: pre-line;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.image-container {
  display: relative;
  height: 88%;
  border-radius: 4px;
}

.image {
  position: absolute;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
