<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading && characters.length > 0" class="cards">
  <div *ngFor="let character of characters">
    <mat-card>
      <div class="image-container">
        <img
          mat-card-image
          [src]="character.imageUrl"
          [alt]="character.name"
          class="image"
        />
      </div>
      <mat-card-header>
        <mat-card-title>{{ character.name }}</mat-card-title>
        <mat-card-subtitle>
          {{ character.race | titlecase }}
          {{ character.class | titlecase }}
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <div *ngIf="isAuthenticated && userId === character.author">
      <a [routerLink]="['/characters/edit', character._id]" mat-button>EDIT</a>
      <button mat-button (click)="onDelete(character._id)" color="warn">
        DELETE
      </button>
    </div>
  </div>
</div>

<mat-paginator
  *ngIf="characters.length > 0"
  (page)="onPageChange($event)"
  [length]="count"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
></mat-paginator>

<p *ngIf="!isLoading && characters.length === 0" class="info-text">
  There are no characters to display.
</p>
